<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{color}}</title>
</head>
<body style="background-color: {{color}}; color: white; font-family: sans-serif;">
    <h1>{{color}}</h1>
</body>
</html>